* {
  margin:4px;
  flex-direction: column;
  text-align: left;
  text-align-last: left;
}

a {
  color:#9EE8E1;
}

body {
  background-color: #2C4251;
  color:#F5F5F5;
  font-family: monospace;
  width:fit-content;
  height:fit-content;
  float:left;
  font: size 20px;
  display: flex;
}

div {
  margin:0;
  margin-right: 1px;
  margin-left:1px; 
  padding:2px;
  display:flex;
  flex-direction: column;
  height:fit-content;
}

img {
  max-width:40%;
  height: auto;
  border:solid;
  border-color:#EABE7C;
  border-radius: 10px;
}

#simple-defenders-img {
  max-width:40%;
  height:40%;
}

div.center_div {
  width: 90%;
}

div.side_div {
  width:30%;
  background-color: #91785D;
  margin-right:0;
  margin-left:0;
  padding:4px;
  color:#F5F5F5; 
  border:solid;
  border-radius: 30px;
  border-color:#91785D;
  padding-top:8px;
  padding-bottom: 8px;
}

#main_div {
  display:flex;
  flex-direction:row;
  padding:0;
  margin-left:0;
  margin-right:0;
}



h1 {
  color:#EABE7C;
}

h2 {
  color:#EABE7C;
}

#head {
  justify-content: center;
  text-align: center;
  text-align-last: center;
  margin: 5px;
}

div.section {
  flex-direction: row;
}